body {
  background-color: rgb(119, 119, 119);
}


.fruit-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.fruit-item {
  max-width: 300px;
  box-shadow: 4px 4px 30px 6px;
  border-radius: 10px;
  padding: 5px;
}

.githubUsers {
display: flex;
gap: 50px;
flex-wrap: wrap;
}

.userLi,.userusLi {
background-color: aliceblue;
border: solid 1px black;
padding: 20px;
border-radius: 10px;
width: 200px;
}

.userTitle,.userId {
color: rgb(186, 0, 186);
}
.userId,.id {
  font-size: 20px;
  color: rgb(107, 0, 0);
}
.userNodeId,.title,.body {
  font-size: 10px;
  color: rgba(186, 0, 186, 0.66);
}

.userImg {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

#box {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hello-site {
  background-color: bisque;
  width: 300px;
  height: 300px;
}

#graph {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-150px, -150px);
}

.imageTestFruitList {
  display: flex;
  gap: 30px;
 flex-direction: column;
}
.imageTestFruit {
}
.imageTestImg {
  max-width: 100%;
  height: auto;
  width: 100%;
}